<!DOCTYPE html>

<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Пример AngularStrap + UI Router</title>
	<link rel="stylesheet" href="./css/normalize.min.css"/>
	<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" href="./css/bootstrap/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="./css/bootstrap-additions/bootstrap-additions.min.css"/>
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css"/>

	<link rel="stylesheet" href="./css/angular-motion/angular-motion.min.css"/>

	<link rel="stylesheet" href="./css/animate.css"/>
	<link rel="stylesheet" href="./css/nga.min.css"/>

	<link rel="stylesheet" href="./css/style.animate.css"/>
	<link rel="stylesheet" href="./css/style.main.css"/>

	<script src="./lib/jquery.min.js"></script>
	<script src="./lib/angular.min.js"></script>
	<script src="./lib/angular-touch.min.js"></script>
	<script src="./lib/angular-animate.min.js"></script>
	<script src="./lib/angular-ui-router.min.js"></script>
	<script src="./lib/angular-strap/angular-strap.min.js"></script>
	<script src="./lib/angular-strap/angular-strap.tpl.js"></script>
	<script src="./lib/ct-ui-router-extras.min.js"></script>
	<script src="./lib/statehelper.min.js"></script>

	<script src="./angular/app.js"></script>
	<script src="./angular/controllers/main.controller.js"></script>
	<script src="./angular/controllers/customers.controller.js"></script>
	<script src="./angular/services/customers.resource.js"></script>
	<script src="./angular/controllers/alert.controller.js"></script>

</head>
<style>
</style>
<body ng-controller="MainCtrl as Main">

<script type="text/ng-template" id="menu-list.html">
	<ul class="nav navbar-nav">
		<li data-ng-class="{ active: $state.is('home') }">
			<a ui-sref="home">Главная</a>
		</li>
		<li data-ng-class="{ active: $state.includes('home.customers') }">
			<a ui-sref="home.customers">Клиенты</a>
		</li>
		<li data-ng-class="{ active: $state.includes('home.page') }">
			<a ui-sref="home.page">Пустая</a>
		</li>
	</ul>
</script>

<script type="text/ng-template" id="collapse.html">
	<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
		<div class="aside-dialog">
			<div class="aside-content">
				<div class="aside-header" ng-show="title">
					<button type="button" class="close" ng-click="$hide()">&times;</button>
					<h4 class="aside-title" ng-bind-html="title"></h4>
				</div>
				<div class="aside-body bs-sidebar" ng-click="$hide();" ng-include="'menu-list.html'">
				</div>
				<div class="aside-footer">
					<button class="btn btn-primary" ng-click="$hide()">Закрыть</button>
				</div> 
			</div>
		</div>
	</div>
</script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-collapse start-collapsed="true" data-activeClass="in">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-animation='am-fadeAndSlideLeft' data-placement='left' data-html='true' data-container='body' data-title='Меню' bs-aside='aside'
			data-template='collapse.html'>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="https://github.com/sergofan" target="_blank">
				<i class="fa fa-github"></i>
				Sergofan
			</a>
		</div>
		<div class="collapse navbar-collapse" ng-include="'menu-list.html'"></div>
	</div>
</nav>

<div ng-controller="AlertCtrl as Alert" id="alerts"></div>

<div class="page-header text-center">
	<h3 ng-bind="$state.current.data.pageHeader"></h3>
</div>

<div class="container">
	<div class="row">
		<div ui-view></div>
	</div>
</div>

</body>
</html>
