<div class="col-xs-6 col-sm-8">
	<button type="button" class="btn btn-primary" data-title="Привет!" data-content="Мое всплывающее сообщение. :)" data-placement="bottom" data-animation="am-flip-x" bs-popover="">
		Popover
	</button>
</div>